body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

header {
    display: flex;
    width: 100%;
    background-color: black;
    position: fixed;
    border-bottom: 1px solid seashell;
    height: 69px;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
}

.logo img {
    height: 50px;
}

.nav {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.nav li {
    text-decoration: underline;
    padding: 0 10px;
    display: inline-block;
}

.nav li a {
    color: seashell;
}

#mission-statement {
    display: flex;
    justify-content: center;
    height: 700px;
    background-image: url('images/img-mission-background.jpg');
    width: 100%;
    align-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.goal {
    width: 100%;
    background-color: black;
    margin: auto;
}

#teas {
    width: 80%;
    margin: auto;
}

#list-of-tea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.some-teas {
    display: inline-block;
    margin: 10px;
}

.some-teas img {
    width: 300px;
    height: 200px;
}

#locations {
    width: 70%;
    padding: 0 15px;
    background-image: url('images/img-locations-background.jpg');
    background-position: center;
    margin: 5px auto;
    background-repeat: no-repeat;
}

#locations h2 {
    align-self: auto;
}

#areas {
    display: inline-flex;
    padding: 85px 50px;
}

.where {
    width: 300px;
    background-color: black;
    color: seashell;
    margin: 5px 7px;
    padding: 3px 2px;
}

#contacts {
    font-weight: bold;
}